body{

    background-color: rgb(231, 222, 205);
    font-size: 25px;
}



.Main{
    margin: 80px auto;
    width: 600px;
    height: 600px;
    background-color: rgb(47, 47, 67);
    border: 5px solid white;
    border-radius: 30px;
}

.name{

    margin-top: 80px;
    margin-left: 50px;

}

.h{

    color: white;
    margin-bottom: -30px;
    
}
.h1{

    color: rgb(73, 193, 73);
    margin-bottom: -20px;
    

}
h4{

    color: whitesmoke;
    letter-spacing: 1px;
    font-weight: normal;
}
#btn{

    font-size: 18px;
    padding: 10px 12px 10px 12px;
    letter-spacing: 1px;
    background-color: rgb(73, 193, 73);
    border-radius: 5px;    
    box-shadow: 3px 5px 20px black;
}
hr{

    width: 520px;
    margin-top: 70px;
    margin-right: 30px;

}

.p1, .p2 {
    width: 190px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 4px 4px 15px rgb(165, 157, 157);
    display: inline-block;  
    margin-right: 70px;     
    color: rgb(81, 215, 33);
    vertical-align: top;
    background-color:rgb(47, 47, 67);
    opacity: 0.8;
    overflow: hidden;
    text-align: center;
   
    
    
    

}
